<!DOCTYPE html>
<head>
  <title>Sign In</title>
</head>

<body>
  <%= form_tag sessions_path, method: :post do %>
    <table class="table">
      <tr>
        <td><%= label_tag("user[username]", "Username") %></td>
        <td><%= text_field_tag("user[username]", @username) %></td>
        <td class="alert"><%= flash[:notice][:username] if flash[:notice] %></td>
      </tr>
      <tr>
        <td><%= label_tag("user[password]", "Password") %></td>
        <td><%= password_field_tag("user[password]") %></td>
          <%= flash[:notice] && flash[:notice][:password] ? flash[:notice][:password] : password_requirement %>
      </tr>
      <tr>
        <td colspan="3"><%= submit_tag "Sign In" %></td>
      </tr>
  <% end %>
</body>
</html>
