<h1> Admin Stuff </h1>

<h2> Add New Resources to the Library </h2>

<%= error_message(@item) if defined? @item %>

<%= form_tag library_path do %>
  <%= number_field_tag :quantity, params[:quantity], placeholder: "3" %>
  <%= text_field_tag :name, params[:name], placeholder: "shovels" %>
  <%= submit_tag "Add Items" %>
<% end %>

<h2> Manage Shared Resources </h2>
<!-- links to view all checked out items and all overdue items -->
<table class ="table table-hover">
  <thread>
    <tr>
      <th> Item </th>
      <th> Returned by </th>
      <th>ID tag </th>
    </tr>
  </thread>
  <tr>
    <% @pending_items.each do |item| %>
      <td> <%= item.name %> </td>
      <td> <%= item.user.username %> </td>
      <td> <%= item.id %> </td>
      <td>
        <%= form_for item, url: confirm_return_path do |f| %>
          <%= f.hidden_field :pending, value: false %>
          <%= f.hidden_field :user_id, value: nil %>
          <%= f.hidden_field :due, value: nil %>
          <%= f.hidden_field :id, value: item.id %>
          <%= f.submit "Confirm Returned" %>
        <% end %>
      </td>
  </tr>
  <% end %>
</table>

<h2> Your articles </h2>
  <table class="table">
  <% current_user.articles.order("created_at desc").take(5).each do |article| %>
    <%= render 'shared/article_preview', article: article %>
  <% end %>
  </table>
  <!-- link to view all  -->

<h2> <%= link_to "Browse all users", users_path %></h2>
