<h3> Account information </h3>
  username: <%= @user.username %>
  email: <%= @user.email %>

<h3> Stuff </h3>
<table class = "table">
  <th> Item </th>
  <th> Due </th>
  <th> Quantity </th>
  <% @items.each do |k, v| %>
    <% name, date = k.split('**_**') %>
    <tr>
      <td> <%= name %> </td>
      <td> <%= date %> </td>
      <td> <%= v %> </td>
    </tr>
  <% end %>
</table>
