
  <table class="table">
  <%= form_for @article do |f| %>
  <tr>
    <td><%= f.label  :title %></td>
    <td><%= f.text_field :title %></td>
    <td><%= title_error(@article) %></td>
  </tr>
  <tr>
    <td><%= f.label :pic %></td>
    <td><%= f.text_field :pic %></td>
    <td>Optional; leave blank to get this lovely placeholder <%= image_tag 'placeholder.jpg', class: "thumbnail" %></td>
  </tr>
  <tr>
    <td><%= f.label :content %></td>
    <td><%= f.text_area :content %></td>
    <td><%= content_error(@article) %></td>
  </tr>
  <tr colspan="3">
    <td><%= f.submit %></td>
  </tr>
  <% end %>
  </table>
