
<div class="week_events">
  <h3> This Week's Events </h3>
  <% @upcoming_events.each do |event| %>
  <%= render 'shared/event_li', event: event %>
  <% end %>
</div>

<div id= "full_calendar" >
  <%= display_calendar(Date.today) %>
</div>
<div id= "calendar_list">
  <h3> <%= Date.today.strftime('%B') %> Events </h3>
  <ul class='event_list'>
    <% @month_events.each do |event| %>
    <%= render 'shared/event_li', event: event %>
    <% end %>
  </ul>
</div>
<%= link_to "Add event", create_event_path, id: 'add-event' if logged_in? %>
