<div class="row">

  <div class= "col-sm-6">
    <h2> Right Now </h2>
    <div id='weather'>
      <div class="weather-pic"> <%= image_tag weather_icon %> </div>
      <%= conditions %>, <%= temperature %>&deg; F
    </div>
  </div>
  <div class="col-sm-6">
    <h2> This Week's Events </h1>
      <% @upcoming_events.each do |event| %>
        <span>
          <h4><%= link_to event.title, event_path(event.id) %>
            <small>
              <%= link_to "Edit", edit_event_path(event.id) if owner?(current_user) %> <%= link_to "Delete", event_path(event.id), method: :delete if owner?(current_user) %>
            </small>
          </h4>
        <h5><%= pretty_event_time(event) %></h5>
        <%= event.description %>
      <% end %>
  </div>


</div>

<div class=row>
  <div class="col-sm-12">
    <%= display_calendar(Date.today) %>
  </div>
</div>

<div class=row>
  <div class="col-sm-12">
    <h2> News </h2>
  </div>
</div>
