<h1> Community Goods </h2>

<table class = "table table-hover">

  <tr>
    <th> Item </th>
    <th> Quantity </th>
  </tr>
  <% @item_hash.each do |name, quantity| %>
    <tr class="item_row">
      <td class="item_name"> <%= name %> </td>
      <td class="item_quantity"> <%=quantity %> </td>

      <%if current_user %>
        <td>
          <%= form_tag '/library/checkout', method: :post, class: "checkout_form" do %>
            <%= hidden_field_tag :name, params[:name], value: name %>
            <%= submit_tag "Check Out" %>
          <% end %>
        </td>

      <% end %>

    </tr>
  <% end %>

</table>
