<!DOCTYPE html>
<html>
<head>
  <title>Bpatch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<header>
  <% if current_user %>
    <%= link_to "Sign Out", session_path, method: :delete %>
    <%= link_to "Account", current_user %>
  <% else %>
    <%= link_to "Sign In", sessions_path %>
    <%= link_to "Sign Up", users_path %>
  <% end %>
    <%= link_to "Library", library_path %>

</header>
<body>
  <!-- flash message provided by rails-->
  <!-- <div class="flash">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  </div> -->
  <%= flash[:notice] %>
<%= yield %>

</body>
</html>
