<!DOCTYPE html>
<html>
<head>
  <title>Bpatch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<header>
  <% if session[:current_user] %>
    <%= link_to "Sign Out", session_path(User.find(session[:current_user])), method: :delete %>
  <% else %>
    <%= link_to "Sign In", sessions_path %>
    <%= link_to "Sign Up", users_path %>
  <% end %>
</header>
<body>
  <div class="flash">
    <% flash.each do |name, msg| %> <!-- flash message provided by rails-->
    <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
